h1,h3{
    color: red;
    
}

.login{

    background-color: white;
    width: 60px;
}
.signup{

    width: 60px;
    background-color: red;
    color: white;
}

input{
    background-color: ghostwhite;
    color: green;
    
}

ul>a{
    font-style: 'Courier New';
}