<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>new chat</h3>

    <form method="POST" action="/chats">

        <input  name="from" placeholder="who are you?">
        <br><br>
        <textarea name="msg" placeholder="write your msg"></textarea>
        <br><br>
        <input name="to" placeholder="add receiver">
        <br><br>
        <button>send</button>
    </form>
    
</body>
</html>