<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>this is your response</h1>
    <p>we are using ejs to give response</p>

    <h5>Now we will see the ejs tags you can also visit ejs.co 2 + 3</h5>
    <h2>
        <%= 2 + 3 %>
    </h2>

    <h2>
       <%= "tolove".toUpperCase() %>
    </h2>

    <br><br><br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias aliquam ab ea tenetur maxime hic id voluptatibus,
        facere, adipisci, fugiat et laborum quos aut sit corrupti laboriosam rem rerum. Aperiam. Lorem ipsum dolor sit
        amet consectetur, adipisicing elit. Incidunt voluptatem, cumque doloremque veritatis nesciunt, quae suscipit
        maiores corrupti eaque et omnis. Nulla adipisci reiciendis deleniti magni recusandae facilis dolorem enim.
        Deleniti obcaecati doloribus voluptas minus voluptate ad fugiat, laboriosam, quaerat a quae quisquam cum
        non soluta quas labore delectus vitae laborum.
        Nostrum, nemo.</p>

    <br><br><br>

    <button>click me</button>

</body>

</html>